.row {
    /* border: 1px solid rgba(0,0,0,0.1); */
}
body, html {
    font-size: 12px;
    height: 100%;
    max-height: 100%;
}
* { 
    border-radius: 0px !important; 
}
.col {
    padding: 2px;
}
.col h3 {
    margin: 0px;
}

.panel-spacer {
    width: 50px;
    display: inline-block;
}

.main-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-rows: 30px 90vh;
}

.top-panel {
    font-weight: bold;
    font-size: 20px;
}

.middle-wrapper {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.middle-wrapper .left-side {
    display: grid;
    grid-template-rows: 10% 90%;
}

.middle-wrapper .right-side {

}

.left-side-form {
    display: grid;
    grid-template-rows: 35px 85vh;
}

.tab-content .tab-pane.active {
    display: grid;
    grid-template-rows: 40px 1fr;
    height: 100%;
}