.row {
    /* border: 1px solid rgba(0,0,0,0.1); */
}
body, html {
    font-size: 12px;
}
* { 
    border-radius: 0px !important; 
}
.col {
    padding: 2px;
}
.col h3 {
    margin: 0px;
}

.panel-spacer {
    width: 50px;
    display: inline-block;
}